/* Custom CSS by Austin Pukasamsombut*/

/* Fonts */

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
  text-decoration: none; }

a:visited { 
  color: #6f7678; }
   
a:link { 
color: #6f7678; }

a:active { 
color: #6f7678; }

a:hover {
color: #b2c2c4; }


/*body{background: url(../img/body.jpg) repeat; margin-top: 95px; margin-bottom: 40px;}*/

body {  
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;       
}


.header {  
  padding-right: 10px;
  padding-left: 10px;    
  text-align: left;
  color: #6f7678;      
  box-sizing: border-box;
  height: 120px; 
  width: 600px;
  margin: auto;
}

.header .name {
  line-height: 40px;
  font-size: 30px;
  font-family: 'open_sansextrabold'; 
}

.header .desc {
  line-height: 20px;
  font-family: 'open_sansbold';
}

.header .contact {
  font-family: 'open_sansregular';
  font-size:15px;
  float: right;
  text-align: right;  
  padding-top: 5px;  
}

.intro-section {
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;  
  padding-bottom: 5px;  
  background-color: #e3e8ef;  
  border-style: none;
}

.intro {
  text-align: center;    
  border-style: none;
}

.intro .desc {
  font-family: 'open_sansbold';
  font-size: 20px;   
  color: #6f7678;
  width: 550px;
  margin: auto;
  border-style: none;
}

.intro .desc span{
  font-size: 25px;   
  color: #4286f4;
}

.intro .split {
  padding-top: 20px;  
  width: 100%;  
  margin: auto;
}

.intro .half{
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 100px;  
  border-style: none;
}

.half .title{
  margin-top: 20px;
  font-size: 1.3em;
  font-family: 'open_sansextrabold';
  color: #454545;
}

.half .sub{
  color: #454556;
  font-weight: bold;
  font-size: 1em;  
}

.intro .resume{ 
  padding: 10px;  
  width: 200px;
  margin: auto;
  border-style: none;
  font-size: 2em;
  font-family: 'open_sansextrabold';
  color: #454545;
}   

.main-section{
  background: #e3e8ef;  
}

.tab-section{
  width: 550px;
  margin: auto;
}

.tab-divider{
  display: table;
  width: 100%;
  text-align: center;
  padding-top: 10px;  
  border-style: none;  
}

.tab{   
  display: table-cell;   
  width: 150px;
  height: 100px;
  border-style: none;
  text-align: center;  
  vertical-align: middle;  
}

.tab .title{         
  border-style: none;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.project-section{  
  width: 600px;
  margin: auto;
} 

.robotics{  
  padding-top: 30px;
  display: none;
}

.gamedev{
  padding-top: 30px;
  display: none;
}

.graphics{
  padding-top: 30px;
  display: none;
}

.project{  
  width:100%;
  border-style: none;
}

.project .title{
  padding-left: 20px;  
  font-family: 'open_sansextrabold';  
  font-size: 35px;
  color: #454545;
}

.project .date{
  padding-left: 20px;
  font-family: 'open_sansbold';
  font-size: 15px;
  color: #454545;
}

.project .image{  
  float: right;
  margin: 5px 5px 10px 10px;
  text-align: right;
  width: 90px;
  height: 75px;
  border-style: none;
}

.project .desc{ 
  padding-left: 5px;
  padding-top: 25px;
  font-family: 'open_sansregular';  
  font-size: 15px;
  color: #454545;
}

.project .skills{
  padding-top: 10px;
  padding-left: 5px;
  line-height: 8px;
  font-family: 'open_sansbold';  
  font-size: 15px;
  color: #454545;
}

.project .skills p{
  font-family: 'open_sansregular';  
  font-size: 14px;
  color: #454545;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #EEEEEE;
  color: #878787;
  text-align: center;
  font-size: 0.9em; 
}