/* Custom CSS by Austin Pukasamsombut*/

/* Fonts */

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
  text-decoration: none; }

a:visited { 
  color: #6f7678; 
}

a:link { 
  color: #6f7678; 
}

a:active { 
  color: #6f7678; 
}

a:hover {
  color: #b2c2c4; 
}

body {  
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;       
  background: none;
}

.header {
  padding-right: 10px;
  padding-left: 10px;    
  text-align: left;
  color: #6f7678;      
  box-sizing: border-box;
  height: 140px; 
  width: 600px;
  margin: auto;  
}

.header .name {
  line-height: 40px;
  font-size: 45px;
  font-family: 'open_sansextrabold'; 
}

.header .desc {
  padding-top: 3px;
  line-height: 20px;
  font-family: 'open_sansbold';
}

.header .contact {  
  float: right;
  text-align: right;  
  padding-top: 5px;   
}

.header .contact p{
  font-family: 'open_sansregular';
  font-size:15px;
  line-height: 5px;
}

.media {
  margin-top: 20px;
  text-align: right;
}

.media-icon {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 42px;
  margin: 0 12px;
  cursor: pointer;  
}

.media-icon img{
  opacity: 1;
}

.media-icon:hover img{
  opacity: 0.3;
}

.intro-section {
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;  
  padding-bottom: 5px;  
  background-color: #e3e8ef;  
  border-style: none;
}

.intro {
  text-align: center;    
  border-style: none;
}

.intro .desc {
  font-family: 'open_sansbold';
  font-size: 20px;   
  color: #6f7678;
  width: 550px;
  margin: auto;
  border-style: none;
  padding-bottom: 20px; 
}

.intro .hello{
  font-size: 23px;   
  color: #4286f4;
}

.intro .name{
  font-size: 23px;   
  color: #4286a4;
}

.intro hr{
  width: 90%;
  height: 1px;  
}

.intro .split {
  padding-top: 1px;  
  width: 100%;  
  margin: auto;
}

.intro .half{
  display: inline-block;
  vertical-align: top;
  width: 280px;
  height: 135px;  
  border-style: none;
}

.half .title{
  margin-top: 20px;
  margin-bottom: 5px; 
  font-size: 30px;
  font-family: 'open_sansextrabold';
  color: #454545;
}

.half .sub{
  color: #454556;
  font-weight: bold;
  font-size: 15px;  
}

.half .sub1{
  color: #454588;
  font-weight: bold;
  font-size: 17px;  
}

.intro .resume{ 
  padding-top: 60px;  
  padding-bottom: 30px;  
  width: 500px;
  margin: auto;
  border-style: none;
  font-size: 2em;
  font-family: 'open_sansextrabold'; 
  color: #454545;  
}   

.main-section{
  background: #a3c8ce;  
}

.main-section .head{
  padding: 20px;        
  font-size: 30px;
  font-family: 'open_sansextrabold'; 
  text-align: center;
  color: #303030;
}

.tab-section{
  width: 600px;
  margin: auto;
}

.tab-divider{
  display: table;
  width: 100%;
  text-align: center;
  padding-top: 10px;  
  border-style: none;  
}

.tab{   
  display: table-cell;   
  width: 150px;
  height: 100px;
  border-style: none;
  text-align: center;  
  vertical-align: middle;  
  padding-bottom: 15px; 
}

.tab .title{         
  border-style: none;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    width: 190px;
    height: 100px;
    opacity: 1;
}

.button:hover {
  opacity: 0.5;
}

.button:focus {
  border: 2px solid blue;
}

.project-section{  
  width: 600px;
  margin: auto;
} 

.robotics{  
  padding-top: 30px;
  display: none;
}

.gamedev{
  padding-top: 30px;
  display: none;
}

.graphics{
  padding-top: 30px;
  display: none;
}

.project{  
  width: 100%;  
  margin: 3px; 
  border-width: 5px;
  border-style: ridge;  
}

.project .title{
  padding-top: 20px;
  padding-left: 20px;  
  font-family: 'open_sansextrabold';  
  font-size: 25px;
  color: #454545;
}

.project .date{
  padding-left: 20px;
  font-family: 'open_sansbold';
  font-size: 15px;
  color: #454545;
}

.project .image{  
  float: right;
  margin: 5px 5px 0px 0px;
  text-align: right;
  width: 110x;
  height: 85px;
  border-style: none;
}

.project .desc{ 
  padding-left: 5px;
  padding-top: 15px;
  font-family: 'open_sansregular';  
  font-size: 15px;
  color: #454545;  
}

.project .info{ 
  padding-top: 5px; 
  padding-left: 5px;  
  font-family: 'open_sansregular';  
  font-size: 15px;
  color: #454545;  
}

.project .skills{
  padding-top: 1px;
  padding-left: 5px;  
  font-family: 'open_sansbold';  
  font-size: 15px;
  color: #454545;
}

.project .skills p{
  font-family: 'open_sansregular';    
  font-size: 14px;  
  margin: 2px;
  color: #454545;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #EEEEEE;
  color: #878787;
  text-align: center;
  font-size: 0.9em; 
}